      <!-- End footer top area -->
      <!-- Start footer bottom area -->
      <div class="footer_bottom" data-sly-use.copyRight="com.rpgm.online.site.CopyRight">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p>${copyRight.copyrightText}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomRight">
                <p>${copyRight.initalText}<a href="${copyRight.url}" rel="nofollow">${copyRight.name}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    